:root {
    --light-bg: #f8f9fa;
    --text-dark: #343a40;
    --primary-color: #4caf50;
    --primary-dark: #45a049;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif; 
    line-height: 1.8;
    padding: 30px 20px;
    background-color:var(--light-bg) ;
    color: var(--text-dark);
}

#music-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
    margin-inline: auto;
    max-width: 600px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

#search-input {
    padding: 15px 20px;
    font-size: 1rem;
    flex-grow: 1;
    border: 1px solid #e9ecef;
    border-radius: 8px 0 0 8px;
    outline: none; 
    transition: border-color 0.3s ease;
}

#search-input:focus {
    border-color: var(--primary-color);
}


#search-button {
    padding: 13px 25px;
    font-size: 1rem;
    font-weight: 600;
    font-family: sans-serif;
    background-color: var(--text-dark);
    color: #fff;
    border: none;
    border-radius:0 8px 8px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
} 

#search-button:hover {
    background-color: var(--text-dark);
}

#song-image{
    height: 300px;
    width: 300px;
    border-radius: 50%50%50%0%;
}

#song-name {
    margin-top: 20px;
    font-size: 2em;
}

#music-buttons {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#music-buttons i:hover {
    transform: scale(1.2);
    color: var(--text-dark);
}

#music-buttons i {
    padding: 10px;
    color: var(--text-dark);
}

#slider-song {
    width: 80%;
    margin: 20px 0;
   accent-color: var(--text-dark);
}
