*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: aquamarine;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    display: flex;
    gap: 20px;
}
