:root {
    --light-bg: #f8f9fa;
    --bg-dark: #343a40;
    --bg-color: #333;
    --primary-color: #4caf50;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: var(--light-bg);
}

.nav-bar {
    width: 98%;
    padding: 10px 15px;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    color: #f8f9fa;
    margin-bottom: 20px; 
    box-shadow: 0 5px 10px #343a40;
}

#home-btn:hover {
    background-color: #343a40;
    transform: translateY(-2px);
}

#books-collection:hover {
    background-color: #343a40;
    transform: translateY(-2px);
}

#azhkar:hover {
    background-color: #343a40;
    transform: translateY(-2px);
}

.search-area {
    display: flex;
    align-items: center;
    max-width: 250px;
    margin-top: 25px;
    margin-inline: auto;
    border-radius: 8px;
}

#search-book {
    padding: 15px 20px;
    border: 1px solid #343a40;
    border-radius: 8px 0 0 8px;
    color: #f8f9fa;
    background-color: #333;
    outline: none;
    transition: 0.3s ease;
    box-shadow: 0 5px 10px var(--bg-dark);
}

#search-btn {
    padding: 15px 20px;
    border: 1px solid #4caf50;
    border-radius: 0 8px 8px 0;
    color: #f8f9fa;
    background-color: var(--primary-color);
    transition: 0.3s ease;
    box-shadow: 0 4px 8px var(--primary-color);
}

#search-btn:hover {
    background-color: var(--primary-color);
    transform: translateY(-3px);
}

#books-area {
    display: grid;
    grid-template-columns: repeat(autofit (250px, 1fr));
    gap: 25px;
    margin-top: 28px;
    background-color: red;
}