.calculator {
  width: 250px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(8, 8, 8, 1);
  border: 1px solid #ccc;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 24px;
  text-align: right;
  border: none;
  border-radius: 10px;
  color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.number {
  background-color: rgba(76, 73, 69, 1);
  color: #fff;
}

.operator {
  background-color: rgba(123, 109, 89, 1);
  color: #fff;
}

.equals {
  background-color: #4CAF50;
  color: #fff;
  grid-column: 1 / 4;
}

.clear {
  background-color: #d9534f;
  color: #fff;
}

.delete {
  background-color: #d9534f;
  color: #fff;
}
